@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.catalog__container {
  @include mixins.tablet {
    padding: 0 94px;
  }

  @include mixins.desktop {
    padding: 0;
  }
}

.catalog__title {
  @include mixins.header-2;

  @include mixins.mobile {
    margin-bottom: 64px;
  }

  @include mixins.tablet {
    margin-bottom: 72px;
  }

  @include mixins.desktop {
    margin-bottom: 92px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 24px;

  @include mixins.tablet {
    grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
    gap: 52px;
  }

  @include mixins.desktop {
    row-gap: 52px;
    column-gap: 24px;
  }
}

.catalog__card {
  display: flex;
  flex-direction: column;
  gap: 28px;
  min-height: 432px;
  padding: 0 20px 54px 24px;
  border-radius: 40px;
  background-color: variables.$white-text;
  box-shadow: 0 4px 4px rgba(88, 13, 101, 0.15);
}

.catalog__card-link {
  display: grid;
  gap: inherit;
  cursor: pointer;
  text-decoration: none;
  color: variables.$basic-green;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;

  &:hover {
    color: variables.$special-color3;
  }

  &:active {
    color: variables.$special-color4;
  }
}

.catalog__card-image-wrapper {
  height: 180px;
  margin-left: -24px;
  margin-right: -20px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.catalog__card-image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}


.catalog__card-title {
  @include mixins.header-3;
}

.catalog__card-price {
  margin: 0;
  align-self: center;
  font-size: 18px;
  line-height: 21px;
  min-width: 116px;
  display: flex;

  &::after {
    content: " за 1 кг";
    margin-left: auto;
    flex-shrink: 0;
  }
}

.catalog__card-button {
  margin-top: auto;
}
