@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.form {
  display: flex;
  flex-direction: column;

  @include mixins.mobile {
    gap: 32px;
  }

  @include mixins.tablet {
    gap: 50px;
    padding: 0 46px;
  }

  @include mixins.desktop {
    gap: 48px;
    padding: 0 192px;
    padding-right: 142px;
  }
}

.form__group {
  border: none;
  margin: 0;
  padding: 0;

  @include mixins.tablet {
    padding: 0 46px;

    &--contacts {
      padding: 0;
      margin-top: -5px;
    }
  }

  @include mixins.desktop {
    padding: 0;
    margin-top: 0;

    &--berries {
      margin-bottom: 10px;
    }

    &--contacts {
      margin-top: -1px;
    }
  }
}

.form__legend {
  display: block;
  color: variables.$basic-green;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 32px;

  @include mixins.tablet {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 40px;
  }

  @include mixins.desktop {
    margin-bottom: 48px;
  }

  &--contacts {
    @include mixins.tablet {
      text-align: center;
      grid-column: 1 / -1;
    }

    @include mixins.desktop {
      text-align: left;
    }
  }
}

.form__group-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @include mixins.tablet {
    &--adderss,
    &--message {
      grid-column: 1 / -1;
    }
  }
}

.form__label {
  padding-left: 12px;
  font-size: 16px;
  line-height: 20px;

  &--required::after {
    content: " *";
    color: variables.$special-error;
  }
}

.form__group-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  align-items: center;
  gap: 32px;

  &--berries {
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: column;

    @include mixins.tablet {
      column-gap: 67px;
      row-gap: 24px;
      grid-template-columns: repeat(3, 117px);
      grid-template-rows: repeat(4, 1fr);
    }

    @include mixins.desktop {
      column-gap: 48px;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }

  &--keep {
    gap: 23px;

    @include mixins.tablet {
      grid-auto-flow: column;
      column-gap: 56px;
      row-gap: 24px;
      grid-template-columns: repeat(2, 221px);
      grid-template-rows: repeat(2, 1fr);
      margin-bottom: -2px;
    }

    @include mixins.desktop {
      column-gap: 48px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &--get {
    gap: 32px;

    @include mixins.tablet {
      gap: 24px;
      grid-template-columns: 205px 255px;
    }

    @include mixins.desktop {
      gap: 48px;
      grid-template-columns: 251px 354px;
    }
  }
}

.form__group-list--contacts {
  gap: 36px;

  @include mixins.tablet {
    column-gap: 24px;
    grid-template-columns: repeat(2, 1fr);

    &::after {
      content: "";
      display: block;
      grid-column: -1 / -2;
      grid-row: 1 / 2;
      width: 100%;
      height: 100%;
    }
  }

  @include mixins.desktop {
    padding-right: 168px;
  }
}

.form__group-item {
  display: block;
  line-height: 100%;
}

.form__button {
  @include mixins.mobile {
    margin-right: 4px;
  }

  @include mixins.tablet {
    width: 336px;
    align-self: center;
    margin-top: -10px;
  }

  @include mixins.desktop {
    margin-top: 0;
    margin-right: 57px;
  }
}

.form__control--delivery {
  @include mixins.mobile {
    padding-right: 45px;
  }

  @include mixins.desktop {
    & br:last-of-type {
      display: none;
    }
  }
}

.form__control {
  &--keep {
    @include mixins.tablet {
      gap: 24px;
    }

    @include mixins.desktop {
      gap: 12px;
    }
  }
}

.form__adderss {
  @include mixins.mobile {
    min-height: 88px;
  }
}

.form__message {
  @include mixins.mobile {
    min-height: 124px;
  }

  @include mixins.tablet {
    min-height: 144px;
  }
}
