@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.introduction {
  background-color: #ced7e0;
  background-image: url("../img/introduction-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/introduction-back-mobile@2x.jpg");
  }

  @include mixins.mobile {
    min-height: 640px;
  }

  @include mixins.tablet {
    background-image: url("../img/introduction-back-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/introduction-back-tablet@2x.jpg");
    }
  }

  @include mixins.desktop {
    min-height: 800px;
    background-image: url("../img/introduction-back-desktop@1x.jpg");
    background-position: 103%  calc(50% - 3px);
    background-color: #fafdfe;


    @media (min-resolution: 2dppx) {
      background-image: url("../img/introduction-back-desktop@2x.jpg");
    }
  }
}

.introduction__container {
  @include mixins.mobile {
    padding: 70px 28px 192px 28px;
  }

  @include mixins.tablet {
    padding: 143px 22px 420px 213px;
  }

  @include mixins.desktop {
    padding: 172px 0 252px 383px;
  }
}

.introduction__title {
  @include mixins.header-2;

  @include mixins.mobile {
    margin-bottom: 30px;
  }

  @include mixins.tablet {
    margin-bottom: 45px;
    text-align: left;
  }

  @include mixins.desktop {
    margin-bottom: 52px;
  }
}

.introduction__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-bottom: 48px;

  @include mixins.mobile {
    gap: 12px;
    padding: 0 28px;
    margin-bottom: 56px;
  }

  @include mixins.desktop {
    margin-bottom: 52px;
    margin-left: 23px;
    max-width: 500px;
  }
}

.introduction__item {
  display: flex;
  gap: 12px;
  align-items: center;

  @include mixins.mobile {
    font-size: 16px;
    line-height: 19px;

    &:last-of-type {
      margin-top: 5px;
    }
  }

  @include mixins.tablet {
    font-size: 18px;
    line-height: 22px;
  }

  &::before {
    content: "";
    display: block;
    width: 32px;
    aspect-ratio: 1 / 1;
    background-size: initial;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }

  &--foliage::before {
    background-image: url("../img/foliage.svg");
  }

  &--snowflake::before {
    background-image: url("../img/snowflake.svg");
  }

  &--delivery::before {
    background-image: url("../img/delivery.svg");

    @include mixins.mobile {
      background-position: center 80%;
    }
  }
}

.introduction__button {
  @include mixins.mobile {
    width: 100%;
  }

  @include mixins.tablet {
    width: 336px;
  }

  @include mixins.desktop {
    margin-left: 37px;
  }
}
