@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-bottom: 64px;

  @include mixins.tablet {
    gap: 100px;
    padding-bottom: 100px;
  }
}
