@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.header {
  background-color: variables.$white-back;

  @include mixins.tablet {
    box-shadow: 0 4px 4px rgba(88, 13, 101, 0.25);
  }
}

.header__container {
  @include mixins.mobile {
    position: relative;
    z-index: 1;
    min-height: 68px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      max-height: 68px;
      top: 0;
      right: 0;
      left: 0;
      box-shadow: 0 4px 4px rgba(88, 13, 101, 0.25);
    }
  }

  @include mixins.tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  @include mixins.desktop {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header__logo {
  flex-shrink: 0;

  @include mixins.mobile {
    margin-left: 10px;
    padding-top: 13px;
    padding-bottom: 11px;
    position: relative;
    z-index: 1;
  }
}
