@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";
@use "../../libs/animation.scss";

.main-nav__toggle {
  cursor: pointer;
  font: inherit;
  display: block;
  background-color: transparent;
  border: none;
  margin: 0;
  right: 0;
  top: 0;
  padding: 0;
  aspect-ratio: 1/1;
  height: 100%;
  position: absolute;
  z-index: 2;
  transition: variables.$transition-all;
  color: variables.$black;
  margin-right: 17px;

  &:hover::before,
  &:hover::after {
    background-color: variables.$special-color3;
  }

  &:active::before,
  &:active::after {
    background-color: variables.$special-color4;
  }

  &--closed::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 3px;
    width: 45px;
    height: 5px;
    background-color: variables.$basic-green;
    box-shadow: 0 12px 0 0 variables.$basic-green, 0 -12px 0 0 variables.$basic-green;
  }

  &--closed:hover::before {
    box-shadow: 0 12px 0 0 variables.$special-color3, 0 -12px 0 0 variables.$special-color3;
  }

  &--closed:active::before {
    box-shadow: 0 12px 0 0 variables.$special-color4, 0 -12px 0 0 variables.$special-color4;
  }

  &--opened::before,
  &--opened::after {
    @include mixins.centered;
    content: "";
    position: absolute;
    width: 35px;
    height: 3px;
    border-radius: 2px;
    background-color: variables.$basic-green;
    box-shadow: none;
  }

  &--opened::after {
    transform: rotate(45deg);
  }

  &--opened::before {
    transform: rotate(-45deg);
  }

  @include mixins.tablet {
    display: none;
  }
}

.main-nav__wrapper {
  @include mixins.mobile {
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transform-origin: 0 0;
    visibility: hidden;
    transform: scaleY(0);
    background-color: variables.$white-back;
    padding: 16px 0;
    min-height: 360px;

    &--opened {
      animation-name: menu-open;
    }

    &--closed {
      animation-name: menu-close;
    }
  }

  @include mixins.tablet {
    position: static;
  }
}

.main-nav__list {
  display: flex;

  @include mixins.mobile {
    flex-direction: column;
  }

  @include mixins.tablet {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

@include mixins.mobile {
  .main-nav--no-js {
    .main-nav__toggle {
      visibility: hidden;
    }

    .main-nav__wrapper {
      visibility: visible;
      transform: scaleY(1);
      position: static;
      margin-left: -(variables.$padding-container-mobile);
      width: calc(100% + (variables.$padding-container-mobile * 2));
    }
  }
}
