@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.site-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include mixins.tablet {
    margin-right: -8px;
  }

  @include mixins.desktop {
    margin-right: -14px;
  }
}

.site-list__item {
  display: block;
}

.site-list__item a {
  display: block;
  text-decoration: none;
  color: variables.$black;
  font-size: 20px;
  line-height: 23px;
  transition: variables.$transition-all;

  &:hover {
    color: variables.$special-color3;
  }

  &:active {
    color: variables.$special-color4;
  }

  @include mixins.mobile {
    padding: 16px 40px;
  }

  @include mixins.tablet {
    padding: 19px 8px;
    padding-top: 18px;
    min-width: 112px;
  }

  @include mixins.desktop {
    padding: 19px 14px;
    padding-top: 18px;
    min-width: 132px;
  }
}
