@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.site-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include mixins.tablet {
    margin-right: -8px;
  }

  @include mixins.desktop {
    margin-right: 22px;
  }
}

.site-list__item a {
  display: block;
  text-decoration: none;
  color: variables.$black;
  font-size: 20px;
  line-height: 23px;
  transition: variables.$transition-all;

  &:hover {
    color: variables.$special-color3;
  }

  &:active {
    color: variables.$basic-green;
  }

  @include mixins.mobile {
    padding: 15px 40px;
  }

  @include mixins.tablet {
    padding: 16px 8px;
    padding-top: 21px;
    min-width: 128px;
  }

  @include mixins.desktop {
    padding: 16px 14px;
    padding-top: 21px;
    min-width: 160px;
  }
}

.site-list__item {
  display: block;

  &--active a {
    @include mixins.desktop {
      color: variables.$basic-green;
    }
  }
}
