@use "../libs/variables.scss";
@use "../libs/mixins.scss";

button.button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}

a.button,
button.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: variables.$basic-fiolet;
  color: variables.$white;
  border-radius: 40px;
  // Text
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  transition: variables.$transition-all;
  // Size
  padding: 17px 25px;
  box-shadow: 0 4px 4px rgba(88, 13, 101, 0.25);

  @include mixins.mobile {
    font-size: 20px;
    line-height: 23px;
    padding-top: 16px;
  }

  @include mixins.tablet {
    padding-bottom: 18px;
    font-size: 28px;
    line-height: 33px;
  }

  &:hover {
    background-color: variables.$special-color1;
  }

  &:active {
    background-color: variables.$special-color2;
  }

  &:disabled {
    background-color: variables.$grey;
    cursor: default;
    pointer-events: none;
    user-select: none;
  }

  &--catalog {
    padding: 14px 25px;
    box-shadow: none;
    min-height: 52px;

    @include mixins.tablet {
      padding: 14px 25px;
      font-size: 20px;
      line-height: 23px;
    }
  }
}

a.button:not([href]) {
  background-color: variables.$grey;
  cursor: default;
  pointer-events: none;
  user-select: none;
}
