@use "../libs/variables.scss";
@use "../libs/mixins.scss";

.input {
  display: flex;
  align-items: center;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  color: variables.$black;
  background: variables.$white;
  border: 1px solid variables.$basic-green;
  border-radius: 20px;
  margin: 0;
  width: 100%;
  cursor: text;
  outline: none;
  box-shadow: none;
  transition: variables.$transition-all;
  padding: 15px 11px;
  min-height: 52px;


  &::placeholder {
    color: variables.$grey;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: variables.$special-color3;
  }

  &:focus:invalid,
  &:active:invalid,
  &--invalid,
  &--invalid:hover,
  &--invalid:active {
    border-color: variables.$special-error;
  }

  &:disabled,
  &:read-only {
    border-color: variables.$grey;
    cursor: default;
  }

  &--num::-webkit-inner-spin-button,
  &--num::-webkit-outer-spin-button {
    appearance: none;
  }

  &--textarea {
    resize: none;
  }

  &::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    position: absolute;
    pointer-events: none;
    right: 0;
  }
}
