@use "../libs/variables.scss";
@use "../libs/mixins.scss";

.logo {
  display: flex;
  align-items: center;
  gap: 18px;
  flex-shrink: 0;
  color: variables.$basic-green;
  fill: none;
  transition: variables.$transition-all;

  &:hover {
    color: variables.$special-color3;
  }

  &:active {
    color: variables.$special-color4;
  }
}

.logo__image {
  @include mixins.mobile {
    width: 36px;
    height: 44px;
  }
}

.logo__title {
  @include mixins.mobile {
    display: none;
  }
}
