@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.copyright__link {
  color: variables.$black;
  text-decoration: none;
  transition: variables.$transition-all;
  font-size: 16px;
  line-height: 19px;

  @include mixins.mobile {
    font-size: 11px;
    line-height: 13px;
  }

  &:hover {
    color: variables.$special-color3;
  }

  &:active {
    color: variables.$basic-green;
  }
}

.copyright__link-icon {
  vertical-align: middle;
  margin-left: 8px;

  @include mixins.mobile {
    width: 20px;
    height: 24px;
  }
}
