@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.footer {
  background-color: variables.$white-back;
}

.footer__container {
  display: flex;

  @include mixins.mobile {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 13px;
  }

  @include mixins.tablet {
    padding-top: 27px;
    padding-bottom: 27px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

.footer__logo {
  @include mixins.mobile {
    margin-right: auto;
    margin-top: -3px;
  }
}

.footer__copyright {
  text-align: right;

  @include mixins.mobile {
    flex: 1 1 100%;
  }
}
