@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;

  @include mixins.mobile {
    gap: 20px;
  }
}

.social__link {
  position: relative;
  display: block;
  width: 40px;
  aspect-ratio: 1 / 1;
  transition: variables.$transition-all;
  border-radius: 50%;
  border: 1px solid variables.$basic-green;
  background-color: transparent;
  color: variables.$basic-green;

  @include mixins.mobile {
    width: 32px;

    &--telegram svg {
      width: 18px;
      height: 16px;
    }

    &--vkontakte svg {
      width: 19px;
      height: 11px;
    }

    &--youtube svg {
      width: 18px;
      height: 14px;
    }
  }

  &:hover {
    border-color: variables.$special-color3;
    color: variables.$special-color3;
  }

  &:active {
    border-color: variables.$special-color4;
    color: variables.$special-color4;
  }
}

.social__link svg {
  @include mixins.centered;
}
